
body {
    font-family: 'Cambria', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #003366;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    border-bottom: 5px solid #ff9900;
}

header h1, header h2, header h3 {
    margin: 5px;
}


.profile-box {
    background-color: #eaf4ff;
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #003366;
    border-radius: 20px;
    text-align: center;
}


.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #003366;
    margin-bottom: 15px;
}


.student-name {
    color: #003366;
    font-size: 24px;
    margin-bottom: 10px;
}

.bio {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #0b0b0b;
}


footer {
    background-color: #003366;
    color: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}
